<div class="classroom-header">
	<h2>Liste des classes</h2>
	<form #newClassForm="ngForm" (ngSubmit)="onSubmitForm(newClassForm)">
		<input type="text" placeholder="Nouvelle classe" [(ngModel)]="classroomName" name="classroomName"/>
		<button type="submit">Créer une classe</button>
	</form>
</div>
<div class="body-list">
	<span *ngFor="let classroom of classroomList ; index as i;">
		<span [ngClass]="{'pair-line': i % 2 == 0, 'impair-line': i % 2 == 1}">{{ classroom.name}}<a [routerLink]="['/classroom', classroom.id]"><fa-icon class="line-icon" [icon]="faGroup"></fa-icon></a></span>
	</span>
</div>